/* Base */
.segment {
  position: absolute;
  right: 1000%;
  visibility: hidden;
}

/* Subcomponents */

.segment + label {
  z-index: 12;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  padding-bottom: 0.75em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.75em;
  transition: background-color 300ms, color 200ms;
  white-space: nowrap;
  width: 33.3333%;
}

.segment:last-of-type + label {
  &:last-of-type::after {
    border-radius: 5px;
    bottom: 0;
    background-color: var(--blue);
    color: var(--white);
    content: "";
    display: block;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1); /* Material Design Standard Easing */
    width: 33.3333%; /* Have to manually set this :( */
  }
}

.has-segment {
  display: flex;
  position: relative;
  z-index: 10;
  background-color: var(--light);
  border-radius: 8px;
  width: 100%;
}

.segment:checked + label {
  border-radius: 16px;
  background-color: var(--blue);
  color: var(--white);
}
.segment:checked:nth-of-type(2) ~ label ~ label::after {
  transform: translateX(100%);
}
.segment:last-of-type:checked + label::after {
  transform: translateX(200%);
}

.unnecessary-styling {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px;
  border-radius: 12px;
  background-color: var(--white);
  border: 1px solid var(--light);
  max-width: 600px;
  width: 100%;
}