.vacancyCard {
    border-radius: 16px;
    border: 1px solid var(--light);
    padding: 16px;
    cursor: pointer;

  > p {
    font-size: 14px;
  }

  > span {
    font-weight: 600;
    font-size: 18px;
  }

  > div {
    font-size: 14px;
  }

}