.Root {
  position: fixed;
  inset: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.Content {
  padding: 24px;
  background-color: var(--white);
  border-radius: 16px;
  max-width: 600px;
  width: 100%;
}

.Root.active {
  display: flex;
  justify-content: center;
  align-items: center;
}