.wrapper {
  max-width: 1192px;
  padding-inline: 2rem;
  margin-inline: auto;

}
@media (max-width: 960px) {
  .wrapper {
    padding-inline: 1.5rem;

  }
}
@media (max-width: 768px) {
  .wrapper {
    padding-inline: 1rem;

  }
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}