.phoneInput {
  position: relative;
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 12px;
  margin-top: 8px;

  > span {
    position: absolute;
    top: 2px;
    left: 2px;
    font-style: normal;
    border-radius: 12px;
    font-weight: 600;
    font-size: 16px;
    padding: 16px 24px;
    line-height: 100%;
    color: #6d7380;
    background: transparent;
  }

  input {
    outline: none;
    border: none;
    font-style: normal;
    background-color: var(--light);
    border-radius: 12px;
    font-weight: 600;
    width: 100%;
    font-size: 16px;
    padding: 16px 24px;
    padding-left: 65px;
    line-height: 100%;
    color: #6d7380;
  }
}
