.searchInput {
  box-shadow: var(--shadow);
  margin-inline: auto;
  max-width: 850px;
  width: 100%;
  background-color: var(--light);
  border-radius: 16px;
  padding: 16px;
  padding-bottom: 4px;
  inset: auto auto auto 50%;
  transform: translateX(-50%);
  @media (min-width: 960px) {
    width: 90% !important;
  }

  @media (max-width: 567.98px) {
    padding: 8px;
  }

  &__field {
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 14px;
    padding: 6px;
    position: relative;
    background-color: var(--white);
    box-shadow: var(--shadow);
    margin-bottom: 12px;
    @media (max-width: 567.98px) {
      margin-bottom: 2px;
    }

    > svg {
      position: absolute;
      left: 20px;
    }

    > input {
      width: 100%;
      padding: 12px 48px;
      font-weight: 600;
    }
  }


  &__result {
    max-height: 300px;
    overflow-y: scroll;


    &Item {
      > h4 {
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        color: var(--dark-blue);
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        display: -webkit-box;
      }

      > p {
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        display: -webkit-box;
        line-height: 1;
        margin-bottom: 4px;
      }

      > span {
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        display: -webkit-box;
      }

      &:hover {
        box-shadow: var(--search-shadow);
      }
    }
    ::-webkit-scrollbar {
      width: 5px;
    }

    ::-webkit-scrollbar-thumb {
      background-color: red;
    }

    &Item {
      margin-bottom: 8px;
      background-color: var(--white);
      padding: 12px 16px;
      border-radius: 16px;
    }
  }
}