// .loaderWrapper {
//   overflow: hidden;
//     position: absolute;
//     display: block;
//     background-color: var(--white);
//     top: 0;
//     width: 100vw;
//     height: 100vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     background-color: rgba(0, 0, 0, 0.412);
//     z-index: 1234;
//     animation: fade 1s linear;

//     .loader{
//       width: 50px;
//       height: 50px;
//       position: relative;

//       &::before,
//       &::after {
//         content: '';
//         position: absolute;
//         height: inherit;
//         width: inherit;
//         border-radius: 50%;
//         mix-blend-mode: multiply;
//         animation: rotate 1s infinite cubic-bezier(0.77, 0, 0.175, 1);
//       }

//       &::before {
//         background-color: var(--blue);
//       }

//       &::after {
//         background-color: var(--dark-blue);
//         animation-delay: .5s;
//       }
//     }
//   }

// @keyframes rotate {
//   0%,
//   100% {
//     left: 55px;
//   }
//   25% {
//     transform: scale(.3);
//   }
//   50% {
//     left: 0;
//   }
//   75% {
//     transform: scale(1);
//   }
// }





.loader {
  overflow: hidden;
  position: absolute;
  display: block;
  background-color: var(--white);
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.412);
  z-index: 1234;
  animation: fade 1s linear;

  &__ring {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    height: 45px;
    width: 45px;

    border: 5px solid var(--blue);
    border-radius: 50%;

    &::after {
      content: "";

      position: absolute;
      height: 100%;
      width: 100%;

      border-radius: 50%;
      border: 5px solid var(--white);
      border-top-color: transparent;
      box-sizing: content-box;

      animation: rotate 1.5s linear infinite;
    }
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade {
  0% {
    opacity: .8;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}