.segmentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;

  .segmentContainer {
    background-color: var(--white);
    max-width: 650px;
    width: 100%;
    padding: 6px;
    border-radius: 12px;
    box-shadow: var(--shadow);
  }

}

.segmented2 {
  background-color: var(--light);
  display: flex;
  position: relative;
  user-select: none;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  font-size: 12px;
  border-radius: 10px;
  color: #fff;

  & > input {
    display: none;

    &:checked + label {
      color: var(--white);
    }

    &:nth-of-type(1):checked ~ label:last-of-type:before {
      transform: translateX(calc(0% + 0px));
    }

    &:nth-of-type(2):checked ~ label:last-of-type:before {
      transform: translateX(calc(100% + 0px));
    }
  }

  > label {
    text-transform: uppercase;
    flex: 1;
    color: var(--dark-blue);
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    padding: 12px 16px;
    width: 100%;
    transition: color 200ms cubic-bezier(0.4, 0, 0.2, 1);

    &:last-of-type:before {
      content: '';
      display: block;
      max-width: calc(50% - 0px);
      margin: 0px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      transform: translateX(0);
    }

    &:before {
      background-color: var(--blue);
      border-radius: 8px;
      transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
    }

  }
}