#vacancy {
  margin-block: 48px;

  .vacancy {
    align-items: start;
    @media (max-width: 767.98px) {
      flex-direction: column-reverse;
    }
    &LongInfo {
      width: 100%;
      min-height: 900px;

      &__header {
        align-items: flex-end;
        border-radius: 16px;
        border: 1px solid var(--light);
        padding: 24px;
        @media (max-width: 480px) {
          padding: 16px;
        }

        &Info {
          > h2 {
            line-height: 1;
            margin-bottom: 8px;
            text-transform: uppercase;
          }

          &Subtitle {
            margin-bottom: 25px;
          }

          &Item {
            > span {
              color: var(--gray);
            }
           >  h5 {
             margin-top: 8px;
             margin-bottom: 12px;
             font-size: 16px;
             color: var(--dark-blue);
             font-weight: 600;
            }
          }

          &-footer {
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 24px;
          }
        }

        &Detail {
          gap: 24px;
        }
      }

      &__body {
        padding: 24px;
        @media (max-width: 480px) {
          padding: 16px 0;
        }
      }
    }

    &ShortInfo {
      position: sticky;
      top: 115px;
      max-width: 240px;
      width: 100%;
      @media (max-width: 991.98px) {
        position: relative;
        top: 0;
      }
      @media (max-width: 767.98px) {
        max-width: 100%;
      }

      &-item {
        border-radius: 16px;
        padding: 12px;
        border: 1px solid var(--light);
        margin-bottom: 8px;
        width: 100%;


        > span {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          border-radius: 4px;
        }

        &Info {
          > h6 {
            font-size: 0.75rem;
            line-height: 1;
            color: var(--dark-blue);
          }

          > span {
            font-size: 20px;
            font-weight: 600;
          }

          > div {
            font-size: 20px;
            font-weight: 600;
            > span {
              font-size: 0.75rem;
              color: var(--red);
              font-weight: 500;
            }
          }
        }
      }

      > button {
        width: 100%;
        padding-block: 12px;
      }
    }
  }
}
