#header {
  position: sticky;
  inset: 0 0 0 auto;
  padding-block: 4px;
  box-shadow: var(--shadow);
  background-color: var(--white);

  .header {
    gap: 56px;

    .header__nav {
      margin-right: auto;
      &-links {
        gap: 24px;

        li {
          a {
            font-weight: 600;
            font-size: 14px;
            line-height: 130%;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
