#categories {
  padding-bottom: 70px;
  background-color: var(--light);
  .categories {
    > h2, p {
      text-align: center;
    }

    &Segmented {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 24px;
    }
  }
}