#hero {
  margin-top: 40px;
  .hero {
    gap: 48px;
    &Content {
      > h1 {
        max-width: 600px;
      }

      > p {
        margin-bottom: 0;
        a {
          font-size: 20px;
        }
      }

    }
  }
}