#newVacancies {
    padding-block: 70px;
  .newVacancies {

    &__head {
      margin-bottom: 24px;
      padding-inline: 16px;
      @media (max-width: 400px) {
        flex-direction: column-reverse;

        > a {
          margin-left: auto;
          margin-bottom: 24px;
        }
      }
    }


    &__grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 12px;
      @media (min-width: 678px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (min-width: 1160px) {
        grid-template-columns: repeat(3, 1fr);
        gap: 6px;
      }
    }
  }
}